name: Integration Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  integration-local:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Test
        run: go test ./...
        working-directory: integration_tests

  integration-local-race:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Test
        run: go test ./... -race
        working-directory: integration_tests

  integration-tikv:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Fetch PD
        uses: shrink/actions-docker-extract@v1
        id: extract-pd
        with:
          image: pingcap/pd:nightly
          path: /pd-server

      - name: Fetch TiKV
        uses: shrink/actions-docker-extract@v1
        id: extract-tikv
        with:
          image: pingcap/tikv:nightly
          path: /tikv-server

      - name: Run PD & TiKV
        run: |
          mv ../${{steps.extract-pd.outputs.destination}}/pd-server .
          mv ../${{steps.extract-tikv.outputs.destination}}/tikv-server .
          ./pd-server > pd.log 2>&1 &
          sleep 5
          ./tikv-server -C tikv.toml > tikv.log 2>&1 &
          sleep 15
        working-directory: integration_tests

      - name: Test
        run: go test --with-tikv
        working-directory: integration_tests

  integration-raw-tikv:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Fetch PD
        uses: shrink/actions-docker-extract@v1
        id: extract-pd
        with:
          image: pingcap/pd:nightly
          path: /pd-server

      - name: Fetch TiKV
        uses: shrink/actions-docker-extract@v1
        id: extract-tikv
        with:
          image: pingcap/tikv:nightly
          path: /tikv-server

      - name: Run PD & TiKV
        run: |
          mv ../../${{steps.extract-pd.outputs.destination}}/pd-server .
          mv ../../${{steps.extract-tikv.outputs.destination}}/tikv-server .
          ./pd-server > pd.log 2>&1 &
          sleep 5
          ./tikv-server -C tikv.toml > tikv.log 2>&1 &
          sleep 15
        working-directory: integration_tests/raw

      - name: Test
        run: go test --with-tikv
        working-directory: integration_tests/raw
